<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Умови використання</title>
</head>
<body>
    <h1>Умови використання</h1>
    <p>Будь ласка, уважно ознайомтеся з цими умовами використання перед початком роботи з нашим додатком.</p>

    <h2>Прийняття умов</h2>
    <p>Використовуючи наш додаток, ви погоджуєтеся з цими умовами. Якщо ви не згодні з умовами, будь ласка, не використовуйте додаток.</p>

    <h2>Використання додатка</h2>
    <p>Ви можете використовувати додаток лише в законних цілях. Заборонено використання додатка для порушення прав інших користувачів або зловживання функціями додатка.</p>

    <h2>Зміни умов</h2>
    <p>Ми залишаємо за собою право вносити зміни в ці умови використання в будь-який час. Зміни набирають чинності з моменту їх публікації на цій сторінці.</p>

    <h2>Обмеження відповідальності</h2>
    <p>Ми не несемо відповідальності за можливі збитки, які можуть виникнути через використання додатка.</p>

    <p>Останнє оновлення цих умов було здійснене на [дата].</p>
</body>
</html>
